APP_ENV=

NODE_ENV=
PORT=1337
# error | warn | info | http | verbose | debug | silly
LOG_LEVEL=info

DATABASE_URI=

TOKEN_SECRET=secret
# 15 minutes
TOKEN_EXPRATION=900000

AWS_KEY=
AWS_SECRET_KEY=
AWS_S3_BUCKET_NAME=thff-501c3-docs
AWS_S3_PATH=https://thff-501c3-docs.s3.amazonaws.com/
