<p>Dear
    <%=To%>,</p>
<p>
    We have received a request for your username.
    <br> Here is your username:
    <%=Name%>
</p>
<p>
    If you have any questions or comments, please <a href="mailto:support@hagen.foundation" target="_top">contact
        us.</a>
</p>

Thanks,

<p>THFF TEAM</p>