<p>Dear <%=Name%>,</p>
<br />
<p>Thank You for Submitting a Proposal</p>
<p>Proposal Name: <%=ProjectTitle%></p>

<P>You can view the Proposal status on your organization dashboard. </P>
<!-- <a
        href="<%= url.resolve(sails.config.custom.FE_API,'/pages/user')%>">User
        Dashboard</a> -->
<br />
<p>
  If you have any questions or comments, please
  <a href="mailto:support@hagen.foundation" target="_top">contact us.</a>
</p>

Thanks,

<p>THFF TEAM</p>
