<p>Dear
    <%=Name%>,</p>
<p>Thank You for Registering A User Account at THFF</p>
<br>
<p>You can login here: LINK</p>
<br>
<P>You can view your user dashboard here. LINK</P>
<br>
<p>If you haven't created an organization, please do so here: LINK</p>
<br>
<p>From the THFF team</p>