<p>Dear
    <%=email%>,</p>
<br>
<p>Thank You for Creating A User Account at THFF</p>
<br>
<p>You can confirm your account here:
    <a href="<%=resetURL%>"><%=resetURL%> </a>
</p> <br>
<br>
<p>If you haven't created an organization, you can create one on the user page.</p>
<br>

<p>
    If you have any questions or comments, please <a href="mailto:support@hagen.foundation" target="_top">contact us.</a>
</p>

Thanks,

<p>THFF TEAM</p>