<p>Dear
    <%=Name%>,</p>
<br>
<p>Thank You for Submitting a Letter of Intent</p>
<p>Letter of Intent Name: <%=LOIName%></p>

<P>You can view the Letter of Intent status on your user dashboard. <a
        href="<%= url.resolve(sails.config.custom.FE_API,'/pages/user')%>">User
        Dashboard</a></p>
<br>
<p>
    If you have any questions or comments, please <a href="mailto:support@hagen.foundation" target="_top">contact
        us.</a>
</p>

Thanks,

<p>THFF TEAM</p>