<p>Dear
    <%=Name%>,</p>
<p>
    Your Email was successfully changed.
    <br>
    Old Email: <%=OldEmail%>
    <br>
    New Email: <%=NewEmail%>
    <br>
</p>
<p>
    If you didn’t make this request,
    <a href="mailto:support@hagen.foundation" target="_top">contact Us</a>
</p>