<p>Dear
    <%=Name%>,</p>
<p>
    Your Password was successfully changed.
</p>
<p>
    If you didn’t make this request,
    <a href="mailto:support@hagen.foundation" target="_top">contact Us</a>
</p>