<p>Dear <%=Name%>,</p>
<br />
<p>Thank You for Creating an Organization at THFF</p>
<br />
<p>You can access the organization from your user page.</p>
<br />
<p>Or from the Organizations button on the toolbar</p>
<!-- <img src="<%= url.resolve(sails.config.custom.BE_API,'/images/')%>toolbar_organization_dropdown.png" width="300"> -->
<br />
<p>
  If you haven't uploaded an 501(c)3, you can do so on the 501(c)3 tab on the
  organization page.
</p>
<br />
<!-- <img src="<%= url.resolve(sails.config.custom.BE_API,'/images/')%>organization_501c3.png" width="300"> -->
<p>
  If you have any questions or comments, please
  <a href="mailto:support@hagen.foundation" target="_top">contact us.</a>
</p>

Thanks,

<p>THFF TEAM</p>
