<p>Dear
    <%=To%>,</p>
<p>
    We have received a request for your username.
    <br> Here is your username:
    <%=Name%>
</p>
<!-- <p>
    <a href="mailto:someone@example.com" target="_top">contact Us</a>
</p> -->